<?xml version="1.0" encoding="utf-8"?>
<title>ProperOS</title>
<icon>icon.png</icon>
<packageName>miao.byusi.properos</packageName>
<versionName>1.1.7.6</versionName>
<versionint>1176</versionint>
<sdk>26</sdk>
<yuv>3</yuv>

<remark></remark>
<Permissions>android.permission.FLASHLIGHT
android.hardware.camera.autofocus
android.hardware.camera.front
android.hardware.camera2
android.hardware.camera
android.permission.REQUEST_INSTALL_PACKAGES
android.permission.ACCESS_NETWORK_STATE
android.permission.SYSTEM_ALERT_WINDOW
android.permission.RECORD_AUDIO
android.permission.MOUNT_UNMOUNT_FILESYSTEMS
android.permission.READ_EXTERNAL_STORAGE
android.permission.VIBRATE
android.permission.CAMERA
android.permission.WRITE_EXTERNAL_STORAGE
android.permission.INTERNET
android.permission.READ_PHONE_STATE
android.permission.READ_EXTERNAL_STORAGE
android.permission.WRITE_EXTERNAL_STORAGE
android.permission.INTERNET
android.permission.CAMERA
android.permission.VIBRATE
android.permission.MOUNT_UNMOUNT_FILESYSTEMS
android.hardware.camera
android.hardware.camera2
android.hardware.camera.autofocus
android.permission.FLASHLIGHT</Permissions>
<createTime>2024-04-20 10:56:55</createTime>
<upTime>2024-04-20 10:56:55</upTime>
<manifest></manifest><application></application>